:root {
  --aria-color-white: #ffffff;
  --aria-color-primary: #3082ce;
  --aria-color-secondary: #f9f9f9;
  --aria-color-gray-300: #cbd5e0;
  --aria-color-focus-outline: #4299e14c;
  --fpsm-colour-foreground: #022e4a;
  --fpsm-colour-secondary: #eeeff4;
  --fpsm-colour-primary: #00e889;
  --fpsm-colour-primary-text: #022e4a;

  @media (prefers-color-scheme: dark) {
    --fpsm-colour-foreground: #eeeff4;
    --fpsm-colour-secondary: #022e4a;
  }
}
