body {
  font-family: var(--fpsm-font-family-sans) !important;
}

.logo {
  width: 18rem;
  height: 4rem;
}

.heading {
  background-color: var(--fpsm-colour-blue-110);
  margin: auto;
  flex: 1;
  padding: 0 1rem;
}
