:root {
  --fpsm-spacing-xxx-small: 0.125rem;
  --fpsm-spacing-xx-small: 0.25rem;
  --fpsm-spacing-x-small: 0.5rem;
  --fpsm-spacing-small: 0.75rem;
  --fpsm-spacing-medium: 1rem;
  --fpsm-spacing-large: 1.25rem;
  --fpsm-spacing-x-large: 1.75rem;
  --fpsm-spacing-xx-large: 2.25rem;
  --fpsm-spacing-xxx-large: 3rem;
  --fpsm-spacing-xxxx-large: 4.5rem;
}
