.button {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: all 250ms ease 0s;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: auto;
  line-height: 1.2;
  border-width: 0px;
  border-radius: var(--fpsm-border-radius-medium);
  font-weight: var(--fpsm-font-weight-semibold);
  min-width: var(--fpsm-spacing-xx-large);
  padding-inline-start: var(--fpsm-spacing-medium);
  padding-inline-end: var(--fpsm-spacing-medium);
  margin: 2px;
  background: none;
  cursor: pointer;
}

.primary:hover {
  background-color: var(--fpsm-colour-primary);
  opacity: 0.8;
}

.primary {
  background: var(--fpsm-colour-primary);
  color: var(--fpsm-colour-primary-text);
}

.secondary {
  background-color: var(--fpsm-colour-secondary);
  color: var(--fpsm-colour-foreground);
}

.secondary:hover {
  background-color: var(--fpsm-colour-secondary);
  opacity: 0.8;
}

.outline {
  border: 1px solid var(--fpsm-colour-foreground);
  color: var(--fpsm-colour-foreground);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.disabled:hover {
  opacity: 0.8;
}

.sizeSm {
  font-size: var(--fpsm-font-size-small);
  height: var(--fpsm-spacing-x-large);
}

.sizeDefault {
  font-size: var(--fpsm-font-size-medium);
  height: var(--fpsm-spacing-xx-large);
}

.sizeLg {
  font-size: var(--fpsm-font-size-large);
  height: var(--fpsm-spacing-xxx-large);
}

.sizeIcon {
  height: var(--fpsm-height-10);
  width: var(--fpsm-height-10);
}
