@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --fpsm-font-family-sans: "Public Sans", sans-serif;
  --fpsm-font-family-serif: Georgia, 'Times New Roman', serif;
  --fpsm-font-family-mono: Menlo, Monaco, 'Courier New', monospace;

  --fpsm-font-size-xx-small: 0.625rem;
  --fpsm-font-size-x-small: 0.75rem;
  --fpsm-font-size-small: 0.875rem;
  --fpsm-font-size-medium: 1rem;
  --fpsm-font-size-large: 1.25rem;
  --fpsm-font-size-x-large: 1.5rem;
  --fpsm-font-size-xx-large: 2.25rem;
  --fpsm-font-size-xxx-large: 3rem;
  --fpsm-font-size-xxxx-large: 4.5rem;

  --fpsm-font-weight-light: 300;
  --fpsm-font-weight-normal: 400;
  --fpsm-font-weight-semibold: 500;
  --fpsm-font-weight-bold: 700;

  --fpsm-letter-spacing-dense: -0.015em;
  --fpsm-letter-spacing-normal: normal;
  --fpsm-letter-spacing-loose: 0.075em;

  --fpsm-line-height-dense: 1.4;
  --fpsm-line-height-normal: 1.8;
  --fpsm-line-height-loose: 2.2;
}
