.switch {
  display: inline-flex;
  flex-shrink: 0;
  -webkit-box-pack: start;
  justify-content: flex-start;
  box-sizing: content-box;
  cursor: pointer;
  border-radius: var(--fpsm-border-radius-pill);
  padding: 2px;
  margin: 0 4px;
  transition: all var(--fpsm-transition-fast) ease 0s;
  background: var(--fpsm-colour-grey-50);

  @media (prefers-color-scheme: dark) {
    background: var(--fpsm-colour-blue-90);
  
  }
  
}

.small {
  width: var(--fpsm-spacing-xx-large);
  height: var(--fpsm-spacing-medium);
}

.medium {
  width: var(--fpsm-spacing-xxx-large);
  height: var(--fpsm-spacing-large);
}

.large {
  width: var(--fpsm-spacing-xxxx-large);
  height: var(--fpsm-spacing-x-large);
}

.switch[data-checked] {
  background: var(--fpsm-colour-primary);
}

.disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.switch_thumb {
  background: var(--fpsm-colour-secondary);
  transition: all 250ms ease 0s;
  align-self: flex-start;
  border-radius: inherit;
}

.thumb_small {
  width: var(--fpsm-spacing-medium);
  height: var(--fpsm-spacing-medium);
}

.thumb_small.switch_thumb[data-checked] {
  transform: translateX(
    calc(var(--fpsm-spacing-xx-large) - var(--fpsm-spacing-medium))
  );
}

.thumb_medium {
  width: var(--fpsm-spacing-large);
  height: var(--fpsm-spacing-large);
}

.thumb_medium.switch_thumb[data-checked] {
  transform: translateX(
    calc(var(--fpsm-spacing-xxx-large) - var(--fpsm-spacing-large))
  );
}

.thumb_large {
  width: var(--fpsm-spacing-x-large);
  height: var(--fpsm-spacing-x-large);
}

.thumb_large.switch_thumb[data-checked] {
  transform: translateX(
    calc(var(--fpsm-spacing-xxxx-large) - var(--fpsm-spacing-x-large))
  );
}
